/*******************************************/
/*** -- mgrid CSS Grid Framework ------- ***/
/*** -- Forms -------------------------- ***/
/*** -- Created By: Cody Moncur -------- ***/
/*** -- Licenced under GPL and MIT ----- ***/
/*** -- Created On: Feb 05, 2013 ------- ***/
/*** -- Last Updated: Feb 15, 2013 ----- ***/
/*******************************************/

/* -- Imperatives -- */
button,
input[type="button"],
input[type="password"],
input[type="submit"],
input[type="text"],
textarea {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
}

input[type="password"],
input[type="text"],
textarea {
	background: #fff;
	border: 2px solid #217e8f;
	color: #000;
	font: 1.2em 'UbuntuLight';
	margin: 10px 0 10px 0;
	padding: 5px;
	transition: box-shadow 0.3s;
	-moz-transition: box-shadow 0.3s;
	-ms-transition: box-shadow 0.3s;
	-o-transition: box-shadow 0.3s;
	-webkit-transition: box-shadow 0.3s;
	width: 300px;
}

input[type="radio"],
input[type="checkbox"] {
	margin: 10px 10px 10px 0;
}

button,
input[type="button"],
input[type="submit"] {
	background: #e2e9ef;
	background: linear-gradient(#e2e9ef,#b1b6ba);
	background: -moz-linear-gradient(#e2e9ef,#b1b6ba);
	background: -ms-linear-gradient(#e2e9ef,#b1b6ba);
	background: -o-linear-gradient(#e2e9ef,#b1b6ba);
	background: -webkit-linear-gradient(#e2e9ef,#b1b6ba);
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	color: #222;
	font: 0.8em 'UbuntuLight';
	font-weight: bold;
	margin: 10px 10px 10px 0;
	padding: 5px 10px 5px 10px;
}

label {
	color: #222;
	font: 0.8em 'UbuntuLight';
	margin: 0 10px 0 0;
}

/* -- Focus -- */
input[type="password"]:focus,
input[type="text"]:focus,
textarea:focus {
	box-shadow: #217e8f 0 0 5px 0;
	-moz-box-shadow: #217e8f 0 0 5px 0;
	-ms-box-shadow: #217e8f 0 0 5px 0;
	-o-box-shadow: #217e8f 0 0 5px 0;
	-webkit-box-shadow: #217e8f 0 0 5px 0;
	color: #000;
}

/* -- Hover -- */
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
	background: #d3d9df;
	background: linear-gradient(#d3d9df,#a6aaae);
	background: -moz-linear-gradient(#d3d9df,#a6aaae);
	background: -ms-linear-gradient(#d3d9df,#a6aaae);
	background: -o-linear-gradient(#d3d9df,#a6aaae);
	background: -webkit-linear-gradient(#d3d9df,#a6aaae);
}

/* -- Active -- */
button:active,
input[type="button"]:active,
input[type="submit"]:active {
	background: #a6aaae;
	background: linear-gradient(#a6aaae,#d3d9df);
	background: -moz-linear-gradient(#a6aaae,#d3d9df);
	background: -ms-linear-gradient(#a6aaae,#d3d9df);
	background: -o-linear-gradient(#a6aaae,#d3d9df);
	background: -webkit-linear-gradient(#a6aaae,#d3d9df);
}