/*******************************************/
/*** -- moncurgrid CSS Grid Framework -- ***/
/*** -- Created By: Cody Moncur -------- ***/
/*** -- Licenced under GPL and MIT ----- ***/
/*** -- Created On: Jan 28, 2013 ------- ***/
/*** -- Last Updated: Jan 28, 2013 ----- ***/
/*******************************************/

/* -- Imperatives -- */
body {
	margin: 0;
	padding: 0;
}

/* -- Container -- */
.cont {
	margin: 0 auto;
	width: 960px;
}


/* -- Grid -- */
.full, .bi, .tri, .quad {/* Relevant to all elements */
	float: left;
	margin: 10px;
}

.full { /* Full Span */
	width: 940px;
}

.bi { /* Bisections */
	width: 460px;
}

.tri { /* Trisections */
	width: 300px;
}

.quad { /* Quadrisections */
	width: 220px;
}


/* -- Clearfix -- */
.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}