/*******************************************/
/*** -- mgrid CSS Grid Framework ------- ***/
/*** -- Layout ------------------------- ***/
/*** -- Created By: Cody Moncur -------- ***/
/*** -- Licenced under the MIT license - ***/
/*** -- Created On: Jan 28, 2013 ------- ***/
/*** -- Last Updated: Feb 07, 2013 ----- ***/
/*******************************************/

/* -- Imperatives -- */
body {
	margin: 0;
	padding: 0;
}

/* -- Container -- */
.container {
	margin: 0 auto;
	width: 960px;
}


/* -- Grid -- */
.full, .bi, .tri, .quad {/* Relevant to all elements */
	float: left;
	margin: 10px;
}

.full { /* Full Span */
	width: 940px;
}

.bi { /* Bisections */
	width: 460px;
}

.tri { /* Trisections */
	width: 300px;
}

.quad { /* Quadrisections */
	width: 220px;
}


/* -- Clearfix -- */
.content:before, .content:after {
    content: " ";
    display: table;
}

.content:after {
    clear: both;
}