/*******************************************/
/*** -- mgrid CSS Grid Framework ------- ***/
/*** -- Typography --------------------- ***/
/*** -- Created By: Cody Moncur -------- ***/
/*** -- Licenced under the MIT license - ***/
/*** -- Created On: Jan 28, 2013 ------- ***/
/*** -- Last Updated: Feb 15, 2013 ----- ***/
/*******************************************/

/* -- Imperatives -- */
h1, h2, h3, h4, h5, h6, p {
	font-family: Helvetica;
	line-height: 1em;
	margin: 10px;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.4em;
}

h5 {
	font-size: 1.2em;
}

h6 {
	font-size: 1em;
}

p {
	font-size: 1.2em;
}

/* -- Layout Defined -- */
.full h1, .full h2, .full h3,
.full h4, .full h5, .full h6 {
	/* Relevant to headers in full spans */
}

.bi h1, .bi h2, .bi h3,
.bi h4, .bi h5, .bi h6 {
	/* Relevant to headers in bisections */
}

.tri h1, .tri h2, .tri h3,
.tri h4, .tri h5, .tri h6 {
	/* Relevant to headers in trisections */
}

.quad h1, .quad h2, .quad h3,
.quad h4, .quad h5, .quad h6 {
	/* Relevant to headers in quadrisections */
}

.full p { /* Relevant to paragraph text in full spans */ }
.bi p { /* Relevant to paragraph text in bisections */ }
.tri p { /* Relevant to paragraph text in trisections */ }
.quad p { /* Relevant to paragraph text in quadrisections */ }

/* Layout Specific */
/* (Relevant to your project!) */